<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjw.mybaits.mapper.OrdersCustomMapper">

	<!-- 查询所有订单信息 -->
	<select id="findOrdersList"
		resultType="cn.zjw.mybaits.mapper.po.OrdersCustom">
		SELECT
		orders.*,
		user.username,
		user.address
		FROM
		orders, user
		WHERE orders.user_id = user.id
	</select>

</mapper>